a {
    text-decoration: none;
    color: black;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.menu_1 {
    padding: 0 0;
    background-color: #10bbd5;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1296px;
    padding: 0 52px;
}
.container.top {
    padding-top: 16px;
    padding-bottom: 16px;
}
.container.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.logo__img {
    max-width: 136px;
    background-image: url("../images/logo.png");
    width: 100%;
    height: 29px;
}
.logo__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.logo__cart-evro {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f8fdfe;
}
.cart-icon__button {
    position: relative;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}
.cart-zero {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 11px;
    left: 18px;
}
.menu-2 {
    background-color: white;
}
.container.top-2 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.menu {
    display: flex;
    justify-content: space-between;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}
.menu__list {
    display: flex;
    gap: 40px;
}
.main {
    margin-top: 104px;
}
.grid {
    background-color: #e0dede;;
}
.title {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #1f1f1f;
    padding-top: 32px;
    padding-bottom: 23px;
    border-bottom: 1px solid #a8a8a8;
}
.cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;
    padding-top: 24px;
    padding-bottom: 120px;
}
.cards__grid {
    border: 1px solid #A8A8A8;
    padding: 30px;
    background-color: white;
    width: 242px;
}
.cards__link {
    width: 100%;
    height: 280px;
    position: relative;
}
.cards__link-image {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cards__link-image.one {
    background-image: url("../images/image-1.jpg");
}
.cards__link-image.two {
    background-image: url("../images/image-2.jpg");
}
.cards__link-image.three {
    background-image: url("../images/image-3.jpg");
}
.cards__link-image.four {
    background-image: url("../images/image-4.jpg");
}
.cards__link-image.five {
    background-image: url("../images/image-5.jpg");
}
.cards__link-image.six {
    background-image: url("../images/image-6.jpg");
}
.cards__link-image.seven {
    background-image: url("../images/image-7.jpg");
}
.cards__link-image.eight {
    background-image: url("../images/image-8.jpg");
}
.cards__link-image.nine {
    background-image: url("../images/image-9.jpg");
}
.cards__link-image.ten {
    background-image: url("../images/image-10.jpg");
}
.cards__link-image.eleven {
    background-image: url("../images/image-11.jpg");
}
.cards__link-image.twelve {
    background-image: url("../images/image-12.jpg");
}
.cards__link-badge {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    gap: 4px;
}
.new {
    background: #af39e7;
    border-radius: 4px;
    padding: 4px 8px;
}
.off {
    background: #ea33c0;
    border-radius: 4px;
    padding: 4px 8px;
}
.hit {
    background: #4200ff;
    border-radius: 4px;
    padding: 4px 8px;
}
.cards__content {
    padding: 16px 0;
}
.cards__content-link h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1f1f1f;
    border-bottom: 1px solid #a8a8a8;
    max-width: 242px;
    max-height: 29px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cards__content-author {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8e8e8e;
}
.cards__content-price {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #e90000;
    padding-top: 8px;
    display: flex;
    gap: 24px;
}
.cards__content-oldprice {
    color: #8e8e8e;;
    text-decoration: line-through;
}
.cards__button {
    border-radius: 4px;
    width: 242px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe
}
.cards__button.add {
    background: #4c394e;
}
.cards__button.end {
    background: #4d762d;
}
.button__chat {
    cursor: pointer;
}
.chat {
    position: fixed;
    width: 64px;
    height: 64px;
    background-image: url("../images/chat_icon.png");
    right: 10%;
    top: 87%;
    background-color: #10bbd5;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}
.bottom {
    background-color: #4c394e;;
}
.footer {
    display: flex;
    justify-content: space-between;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f8fdfe;
    padding-top: 32px;
    padding-bottom: 32px;
}