.container {
    max-width: 1280px;
    margin: 0 auto;
    /*padding-right: 80px;*/
    /*padding-left: 80px;*/
    width: 100%;
}
.hr-header {
    color: #ebe8f4;
    width: 100%;
    margin: 0 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
}
.header__logo {
    display: flex;
    /*margin-right: 149px;*/
    font-family: 'Montserrat Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #22202e;
    margin-top: 25px;
    margin-bottom: 26px;
}
nav.header__menu {
    /*margin-right: 281px;*/
    /*display: flex;*/
    /*justify-content: left;*/
    margin-bottom: 29px;
    margin-top: 29px;
}
 .header__menu--list {
    color: black;
    text-decoration: none;
}
 .header__menu--main {
     display: flex;
     /*justify-content: flex-start;*/
     gap: 44px;
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-size: 16px;
     color: #726e8d;
 }
 a {
     text-decoration: none;
     color: black;
 }
 .icons {
     display: flex;
     gap: 16px;
     margin-top: 34px;
     margin-bottom: 30px;
 }
.icons__search {
    width: 16px;
    height: 16px;
    background-image: url("../images/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
 .icons__shopping--cart {
     width: 16px;
     height: 16px;
     background-image: url("../images/shopping--cart.svg");
     background-size: contain;
     background-repeat: no-repeat;
 }
.icons__user--avatar {
    width: 16px;
    height: 16px;
    background-image: url("../images/user--avatar.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.top__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: #2a254b;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 24px;
}
.top__select {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
}
/*.top__select--left {*/
/*    display: flex;*/
/*    gap: 12px;*/
/*    border: none;*/
/*    appearance: none;*/
/*    padding: 12px 24px;*/
/*}*/
.top__select--left {
    display: flex;
    gap: 12px;
    border: none;
    width: auto;
    padding: 12px 24px;
    appearance: none;
    overflow: hidden;
    background: url('../images/Caret--down.png') no-repeat right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
}
.top__select--right {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
}
p.top__select--right.sorting-by {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.top__select--right.date-added {
    padding: 12px 24px;
    border: none;
    appearance: none;
    margin: 0 0;
    overflow: hidden;
    background: url('../images/Caret--down.png') no-repeat right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
}
.grid__product-card--name {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2a254b;
}
.grid__product-card--price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2a254b;
}
.listings__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 462px;
    column-gap: 20px;
    row-gap: 48px;
}
.grid__product-card--image {
    width: 305px;
    height: 375px;
    margin-bottom: 24px;
}
.grid__product-card--name {
    padding-bottom: 8px;
}
.grid__product-card--image.first {
    background-image: url("../images/product-4.jpg");
}
.grid__product-card--image.second {
    background-image: url("../images/product-3.jpg");
}
.grid__product-card--image.third {
    background-image: url("../images/product-2.jpg");
}
.grid__product-card--image.fourth {
    background-image: url("../images/product-1.jpg");
}
.button {
    display: flex;
    margin: 48px auto 40px auto;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    background: #f9f9f9;
    min-width: 175px;
    max-width: 100%;
    width: max-content;
    min-height: 56px;
    border: none;
    padding: 0 0;
}
.email {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.email__image {
    width: 50%;
    background-image: url("../images/join-background.jpg");
    background-color: bisque;
    background-size: cover;
    min-width: 720px;
    background-position: center;
    background-repeat: no-repeat;
}
.email__text {
    width: 50%;
    padding-top: 71px;
    max-width: 750px;
}
.email__text--title  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #2a254b;
    margin-right: 130px;
    margin-left: 49px;
    margin-bottom: 21px;
}
.email__text--text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    margin-right: 201px;
    margin-left: 49px;
    margin-bottom: 212px;
}
.button.email {
    display: flex;
    margin-left: 84px;
    margin-bottom: 74px;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    min-width: 120px;
    max-width: 100%;
    width: max-content;
    min-height: 56px;
    background-color: #2a254b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}
.footer {
    display: block;
    width: 100%;
    min-width: 1280px;
    margin: 0 auto;
    background-color: #2a254b;
    justify-content: center;
}
.footer__main--list {
    width: 50%;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
}
.footer__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 48px;
    padding-top: 60px;
    border-bottom: 1px solid #4e4d93;
}
.footer__main--map {
    width: 50%;
    background-image: url("../images/map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 640px;
    min-height: 195px;
}
.list__menu {
    line-height: 1.9;
}
.list__categories {
    line-height: 1.9;
}
.list__menu--list a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.list__menu--list.menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.list__categories--list a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.list__categories--list.categories {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
 }
.list__company--list a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
}
.list__company--list.company {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.9;
}
.footer__footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
}
.footer__footer--copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 25px;
}
.footer__footer--logo {
    display: flex;
    gap: 24px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.logo__in {
    width: 24px;
    height: 24px;
    background-image: url("../images/logo--linkedin.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.logo__facebook {
    width: 24px;
    height: 24px;
    background-image: url("../images/logo--facebook.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.logo__instagram {
    width: 24px;
    height: 24px;
    background-image: url("../images/logo--instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.logo__skype {
    width: 24px;
    height: 24px;
    background-image: url("../images/logo--skype.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.logo__twitter {
    width: 24px;
    height: 24px;
    background-image: url("../images/logo--twitter.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.logo__pinterest {
    width: 24px;
    height: 24px;
    background-image: url("../images/logo--pinterest.svg");
    background-size: contain;
    background-repeat: no-repeat;
}